@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Azure App Service Demo by Afzal Updated</h1>
    <hr/>
</div>
<div>
        <h4>AppSettings key1 Value == @ViewData["key1"].ToString()</h4>
        <h4>AppSettings key2 Value == @ViewData["key2"].ToString()</h4>
        <h4>AppSettings key3 Value == @ViewData["key3"].ToString()</h4>
        <h4>DB Connectionstring Value == @ViewData["connectionString"].ToString()</h4>
</div>
